[Unit]
Description=NIC configuration service
ConditionFileIsExecutable=/usr/local/sbin/nic-config
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/sbin/nic-config

[Install]
WantedBy=multi-user.target
